@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
body {
margin: 0; line-height: normal;
}
:root {
/* Color */
--color-black: #000;
--color-gray-200: #13071e;
--color-gray-100: #1f1727;
--color-white: #fff;
--color-darkorchid: #8d43d1;
--color-mediumslateblue: #5d46db;
--color-darkslateblue: #301a45;
/* BorderRadius */
--br-15: 15px;
/* Font */
--font-inter: Inter;
/* FontSize */
--font-size-24: 24px;
}